@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

html{
	scroll-behavior: smooth;
}

body{
	background-color: #E4E4E4;
    font-family: 'Fira Sans', sans-serif;
	margin: 0;
	text-decoration: none;
}

header{
	background: #f8f5f7;
	z-index: 1000;
	position: fixed;
	width: 100%;
	box-shadow: 0px 5px 15px -5px #000000;
}

nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 10% 0 10%;
}

.navButt{
	position: relative;
	display: inline-block;
	padding: 10px 30px;
	color: #307ce1;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-decoration: none;
	font-size: 24px;
	overflow: hidden;
	font-weight: 900;
	margin: 1% 0 1% 0;
}

.navButt span{
	position: absolute;
	display: block;
}

.navButt span:nth-child(1){
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, transparent, #307ce1);
}

.navButt:hover span:nth-child(1){
	left: 100%;
	transition: 1s;
}

.navButt span:nth-child(2){
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(-90deg, transparent, #307ce1);
}

.navButt:hover span:nth-child(2){
	right: 100%;
	transition: 1s;
}


.parallax {
    background-image: url(image/back_img.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 500px;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 50px;
    align-items: center;
    position: relative;
 
	box-shadow: 0px 5px 15px -5px #000000;
}

.parallax .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    z-index: 2;
}

.parallax h1 {
    z-index: 3;
}

section{
	color: black;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.box {
	background: white;
	width: 400px;
	height: 500px;
	display: flex;
	justify-content: center;
	margin: 20px 0 20px 0;
	border-radius: 10px;
	box-shadow: 10px 10px 15px rgba(0,0,0,0.1);
}

.content {
	width: 400px;
	text-align: center;
}

.content h3 {
	width: 110%;
	height: 40px;
	background: var(--clr);
	color: white;
	margin: 0 0 30px 0;
	text-align: center;
	padding-top: 20px;
	letter-spacing: 10px;
	border-radius: 20px;
	transform: translateX(-20px);
	box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
	font-weight: bold;

}

.content a {
	font-size: 20px;
	font-weight: bold;
	color: #5F5F5F;
	text-decoration: none;
	transition: .3s ease-in-out; 
}

.content a:hover {
	color: #74A5CD;
}

.content p {
	text-align: center;
	margin: 150px 0 0 0;
	font-size: 100px;
	font-weight: bolder;
	opacity: .1;
}


footer {
	color: #fff;
	background: #224B66;
	width: 100%;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 50px 0 0 0;
}

footer h3 {
	font-size: 30px;
	user-select: none;
}

.map {
	text-align: center;
}

.map a{
	color: #fff;
	text-decoration: none;
	line-height: 40px;
	font-size: 19px;
	transition: .2s ease-in-out;
}

.map a:hover {
	color: #B3B7B8;
}

.contacts a{
	color: #307CE1;
}